
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container navigation">
    <a class="navbar-brand" href="#">Finder</a>
    
  
    <div class="collapse navbar-collapse" id="navbarlinks">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Past a job</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Job list</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Job Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Pages</a>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav right-nav">
        <li class="nav-item">
            <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Country
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">India</a>
              <a class="dropdown-item" href="#">USA</a>
              <a class="dropdown-item" href="#">England</a>
              <a class="dropdown-item" href="#">Russia</a>
              <a class="dropdown-item" href="#">Germany</a>
            </div> -->
            <a class="nav-link" href="#">
                <select name="country" id="country">
                    <option value="1">India</option>
                    <option value="1">UK</option>
                    <option value="1">USA</option>
                    <option value="1">Russia</option>
                    <option value="1">France</option>
                    <option value="1">Germany</option>
                </select>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link signin" href="#">Sign in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link register" href="#">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link post-btn" href="#">Post Job</a>
          </li>
    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarlinks" aria-controls="navbarlinks" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>    
</nav>
  